@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply bg-gray-100;
}

.spinner {
  animation: rotate 2s linear infinite;
  width: 50px;
  height: 50px;
}

.spinner .path {
  stroke: #c026d3;
  stroke-linecap: round;
  animation: dash 1.5s ease-in-out infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}

.select-triangle {
  background-image: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png);
  background-repeat: no-repeat;
  background-position: right 10px top 13px; /* Change the px value here to change the distance */
  background-size: 10px;
  -moz-appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  min-width: 140px;
}
.select-triangle-reaction {
  background-image: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png);
  background-repeat: no-repeat;
  background-position: right 10px top 7px; /* Change the px value here to change the distance */
  background-size: 10px;
  -moz-appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  min-width: 60px;
}

.h-screen-custom {
  height: calc(var(--vh) * 100);
}
.min-h-screen-custom {
  min-height: calc(var(--vh) * 100);
}
